.profile {
  padding: 0 10px;

  &__action {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0 auto 2rem auto;

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    ul {
      li {
        display: inline-block;
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__info {
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    ul {
      li {
        font-size: 2.4rem;
        line-height: 2;
        span {
          margin-right: 2.4rem;
        }
      }
    }
  }
}
