.admin {
  padding: 0 10px;

  &__action {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0 auto;

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    ul {
      li {
        a {
          font-size: 2rem;
          line-height: 2;
          text-decoration: none;
          color: #d3d3d3;
        }
      }
    }
  }
}
